# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# Go
coverage.*
*.coverprofile
profile.cov
vendor/
go.work
go.work.sum

# App local DB / uploads
backend/*.db
backend/*.db-journal
*.db

# Node
frontend/node_modules/
frontend/dist/

# Env / IDE
.env
.idea/
.vscode/
.DS_Store
